<nav>
    <div class="site-title">
      <a href="/"><h1>Biztron Softech</h1></a>
      <p>Node Project</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>